@use "./base.scss";

h1 {
    color:#843142;
}

h2 {
    color:#af5a43;
}

h3 {
    color:#b99156;
}

.left.sidebar > div {
    gap:0 !important;
}

.left.sidebar, footer, .graph, p.content-meta, .title-button.explorer-toggle.desktop-explorer, .toc-header {
    text-transform:lowercase;
}

.page-title {
    text-align: center;
}

.search {
    max-width:100%;
}
