@use "./base.scss";

h1 {
    color:#b4befe;
}

h2 {
    color:#b6a6f7;
}

h3 {
    color:#89B4FA;
}

.explorer-content ul li > a {
    opacity:1;
    color:var(--tertiary);
    filter:brightness(80%) saturate(140%);
    transition:.3s;
}

.explorer-content ul li > a:hover {
    filter:brightness(100%) saturate(140%);
}

.left.sidebar > div {
    gap:0 !important;
}

.left.sidebar, footer, .graph, p.content-meta, .title-button.explorer-toggle.desktop-explorer, .toc-header, .search-button, .search-bar {
    text-transform:lowercase;
}

.page-title {
    text-align: center;
}

.search {
    max-width:100%;
}

p {
    font-size:18px;
}

strong {
    color:var(--darkgray) !important;
}