@use "./base.scss";

h1 {
    color:#b4befe;
}

h2 {
    color:#b6a6f7;
}

h3 {
    color:#89B4FA;
}

.explorer-content ul li > a {
    opacity:1;
    color:var(--tertiary);
    filter:brightness(80%) saturate(140%);
    transition:.3s;
}

.explorer-content ul li > a:hover {
    filter:brightness(100%) saturate(140%);
}

.left.sidebar > div {
    gap:0 !important;
}

.left.sidebar, footer, .graph, p.content-meta, .title-button.explorer-toggle.desktop-explorer, .toc-header, .search-button, .search-bar {
    text-transform:lowercase;
}

.page-title {
    text-align: center;
}

.search {
    max-width:100%;
}

p {
    font-size:18px;
}

strong {
    color:var(--darkgray) !important;
}

code {
    background:none;
    color:var(--darkgray);
    filter:brightness(50%) saturate(200%);
}

sup {
    font-size: 0.65em;
    vertical-align: text-top;
  }


  .callout[data-callout="infobox"] {
    background-color: transparent;
    --callout-icon: none;
    border: 1px solid var(--lightgray);
    float: right;
    width: 300px;
    margin: 0px 0px 10px 10px;
    padding: 5px;
  }


/* stack infoboxes vertically with 'clear' */
.callout[data-callout="infobox"] {
  clear: right;
}

/* Remove Callout Title */
.callout[data-callout="infobox"] .callout-title {
  display: none;
}


/* H2 Title */
.callout[data-callout="infobox"] h2 {
  margin: auto;
  max-width: 100%;
  font-size: 17px;
  text-align: center;
  border-radius: 2px;
  background-color: var(--lightgray);
  padding: 4px;
}

/* H3 Title */
.callout[data-callout="infobox"] h3 {
  margin: auto;
  max-width: 100%;
  font-size: 15px;
  text-align: center;
  border-radius: 2px;
  background-color: var(--lightgray);
  padding: 4px;
}

/* hide anchor in infobox headings so they remain centered */
.callout[data-callout="infobox"] h2 a[role="anchor"], .callout[data-callout="infobox"] h3 a[role="anchor"] {
  display: none;
}

/* Spacing */
.callout[data-callout="infobox"] p {
  margin-block-start: 10px;
  margin-block-end: 0px;
  width: 100%;
}

/* Image */
.callout[data-callout="infobox"] img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

/* Table */
.callout[data-callout="infobox"] table {
  margin: auto;
  width: 100%;
  font-size: 16px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.callout[data-callout="infobox"] th {
  padding-left: 12px; 
  padding-right: 0px;
  vertical-align: top;
}

.callout[data-callout="infobox"] td {
  padding-left: 12px; 
  padding-right: 0px;
  vertical-align: top;
  line-height: 1.6rem;
}
